<div class="wrapper three-cols">

  <!--SIDEBAR-->
  <app-card
    title="Search"
    customCls="side-bar"
    [isScrollable]="true"
  >
    <app-hotel-form
      [text]="text"
      (search)="searchHotels($event)"
    ></app-hotel-form>

    <app-separator></app-separator>

    <app-hotel-list
      [text]="text"
      [active]="active"
      [hotels]="hotels"
      (setActive)="setActive($event)"
    ></app-hotel-list>
  </app-card>

  <!--MAP-->
  <app-card customCls="map" [padding]="false">
    <app-gmap [active]="active"></app-gmap>
  </app-card>

  <!--INFO BOX-->
  <app-card [centeredContent]="true">
      <app-separator></app-separator>

      <app-rates [rate]="active?.rate"></app-rates>
      <app-stars [stars]="active?.stars"></app-stars>

      <br>

      <app-reservations [active]="active" (addToCart)="cart.addToCart(active, $event)"></app-reservations>
  </app-card>

  <!--IMAGE GALLERY-->
  <app-card customCls="gallery" [isScrollable]="true">
    <app-image-gallery [images]="active?.images" [activeImage]="activeImage"></app-image-gallery>
  </app-card>

  <!--SERVICES-->
  <app-card customCls="gallery" [isScrollable]="true" title="Services">
    <app-services [services]="active?.services"></app-services>
  </app-card>

  <!--CONTACT FORM-->
  <app-card customCls="contact" title="Contacts">
      <app-contact-form (send)="sendEmail($event)"></app-contact-form>
  </app-card>

</div>
