<div class="wrapper centered">
  <div class="card vh-centered" [ngClass]="{error: auth.error}">
    <div class="title">Login</div>
    <div class="content">

      <form #f="ngForm" (submit)="auth.login(f.value)">
        <input type="text" placeholder="Username" [ngModel] name="user" required="required">
        <input type="password" placeholder="password" [ngModel] name="pass" required="required">
        <button type="submit" [disabled]="f.invalid">LOGIN</button>
      </form>
    </div>
  </div>
</div>
